.App {
  text-align: center;
}

.flexbox-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.flexbox-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.flexbox-horizontal-list {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
}

.flexbox-wrap {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

.flex-align-start {
  justify-content: flex-start !important;
  /* align-items: flex-start; */
}

.flex-grow {
  flex-grow: 1;
}

.flex-align-end {
  justify-content: flex-end !important;
}

.full-width {
  width: 90%;
}

.lateral-margin {
  margin: 0 10px 0 10px
}

.flex-align-centered {
  justify-content: center;
}

.flex-align-space-evenly {
  justify-content: space-evenly !important;
}

.flex-align-space-between {
  justify-content: space-between !important;
}

.flex-reverse-row {
  flex-direction: row-reverse;
}

.text {
  /* line-height: 10px; */
  margin-top: 3px;
  margin-bottom: 3px;
}

.tabbed-container-inner {
  
}

.context-menu {
  background-color: lightslategray;
  min-width: 150px;
  min-height: 70px;
}

.context-option {
  padding: 5px;
}

.context-header {
  padding: 5px;
}

.context-option:hover {
  background-color: lightseagreen;
  outline: 1px solid black;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* elements */

.top-bar {
  height: 50px;
  width: 100%;
  background-color: lightslategray;
}

.si-button {
  width: 25px;
  height: 20px;
  text-align: center;
}

.skill-abilities {
  width: 200px;
  height: 500px;
}

.icon {
  border: 1px darkslategray solid;
}

.skill-icon {
  /* border: 3px darkslategray solid; */
}

.skill-selected {
  outline: 2px lightseagreen solid;
  background-color: lightseagreen;
}

.skill-icon:hover {
  /* background-color: brown; */
  outline: 2px rgb(40, 87, 40) solid;
  background-color: rgb(40, 87, 40);
  /* border-color: red; */
}

.skill-icon:hover img {
  /* filter: brightness(150%); */
}

.skillbook {
  width: 900px;
  height: 500px;
  background-color: whitesmoke;
}

.ascension {
  width: 500px;
  height: 500px
}

/* div {height: 100%;} */

.aspect-name-bg {
  background-color: whitesmoke;
  position: sticky;
  top: 0px;
}

.aspect-preview {
  width: 300px;
  height: 500px;
  /* overflow: scroll; */
  overflow-y: scroll;
}

.skillbook-category {
  width: 150px
}
.skillbook-category:hover {
  filter: brightness(110%);
  background-color: whitesmoke;
  outline: 1px grey solid;
}

.chosen {
  /* background-color: lightgreen; */
  outline: 1px black solid;
}

.highlighted-bg {
  background-color: rgb(115, 219, 214);
}

.character-profile {
  width: 300px;
}

.skills {
  border: 1px solid black;
  width: 500px;
  height: 100%;
}

.name-edit-container {
  min-width: 100px;
}

.name-edit-container Text {
  overflow: hidden;
}

.name-edit {
  width: 25px;
  height: 25px;
}

.portrait {
  width: 100px;
  height: 150px;
  border: 1px black solid;
}

.skill-listing {
  width: 700px;
  height: 300px;
}

/* TEXT */
.text-small {
  font-size: 70%;
}

.text-si {
  text-align: left;
}

.text-si-symbol {color: rgb(102, 174, 241)}

.text-pyro {color: rgb(245, 68, 68)}
.text-geo {color: rgb(110, 77, 28)}
.text-aero {color: rgb(125, 127, 243)}
.text-water {color: rgb(53, 201, 238)}
.text-warfare {color: rgb(175, 104, 104)}
.text-huntsman {color: rgb(73, 180, 82)}
.text-poly {color: rgb(207, 199, 90)}
.text-summon {color: rgb(175, 140, 255)}
.text-rogue {color: rgb(165, 137, 137)}
.text-necro {color: rgb(116, 88, 111)}

.text-dmg-armor-magic {color: rgb(76, 200, 216)}
.text-dmg-armor-phys {color: rgb(153, 152, 152)}
.text-dmg-phys {color: rgb(168, 168, 168)}
.text-dmg-pierce {color: rgb(223, 96, 96)}
.text-dmg-air {color:rgb(125, 127, 243)}
.text-dmg-water {color: rgb(53, 201, 238)}
.text-dmg-fire {color: rgb(245, 68, 68)}
.text-dmg-earth {color: rgb(110, 77, 28)}

/*  */

.popup-cover {
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(150, 216, 207, 0.5);
  z-index: 998;
}

/* note: absolute positioning breaks context menu positioning */
.pop-up-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}


.box {
  border: 1px black solid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
