.App {
  text-align: center;
}

.button {
  cursor: pointer;
}

.button:hover {
  filter: brightness(130%);
}

.button:active {
  filter: brightness(70%);
}

select {
  cursor: pointer;
}

/* yeah nvm this just seems unstyleable. */
/* option {
  cursor: pointer;
} */

.absolute {
  position: relative;
}

.faded-out {
  filter: opacity(40%);
}

.keyword {
  /* pepega it's a greyscale image you dingus */
  /* filter: hue-rotate(360 deg); */
}

.portrait-frame {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: translate(-50%, -97.5%);
}

body {
  background-image: url("images/interface/haze.png");
}

.absolute p {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 30px;
  color: whitesmoke;
  /* font-weight: bold; */
  transform: translateY(-100%);
}

.flexbox-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.flexbox-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.flexbox-horizontal-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
}

.artifact {
  outline: 1px slategray solid;
}

.flex-wrap {
  flex-wrap: wrap;
}

.increment-button:hover {
  
}

.flexbox-wrap {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.flex-align-start {
  justify-content: flex-start !important;
  /* align-items: flex-start; */
}

textarea {
  height: 93%;
  width: 85%; /* gotta figure out why padding doesn't do this for me */
  background-color: transparent;
  color: whitesmoke;
  padding: 15px;
  overflow-y: scroll;
  resize: none;
  outline: none;
  border: none;
  /* margin: 15px; */
}

::-webkit-scrollbar-thumb {
  margin: 5px 0;
  border: solid;
  border-width: 10px 0 10px 15px;
 
  border-image: url("/src/images/interface/scrollbar_test.png") 10 15;
  border-image-repeat: stretch;
}

::-webkit-scrollbar-thumb:hover {
  /* does not work. */
  /* filter: brightness(130%); */
}

textarea::-webkit-scrollbar {
  /* interestingly, this must exist for the custom scrollbar to work, and it must not be within the regular ::-webkit-scrollbar style. */
  display: block;
}

.flex-grow {
  flex-grow: 1;
}

.stat-sheets {
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

hr {
  /* border: 0.5px black solid; */
  width: 85%;
}

.aspect {
  min-height: 32px;
  cursor: pointer;
}

.aspect:hover {
  background-color: rgb(70, 70, 70);
}

.flex-align-end {
  justify-content: flex-end !important;
}

.full-width {
  width: 100%;
}

.lateral-margin {
  margin: 0 10px 0 10px
}

.flex-align-centered {
  justify-content: center;
}

.flex-align-space-evenly {
  justify-content: space-evenly !important;
}

.flex-align-space-between {
  justify-content: space-between !important;
}

.flex-align-space-between {
  justify-content: space-around !important;
}

.flex-reverse-row {
  flex-direction: row-reverse;
}

.text {
  /* line-height: 10px; */
  margin-top: 3px;
  margin-bottom: 3px;
}

.tabbed-container-inner {
  
}

/* embodiments */
.embodiment {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid;
  margin: 5px;
}

.embodiment p {
  margin: 0;
  text-align: center;
  line-height: 23px;
}

.force {
  border-color: red;
}

.entropy {
  border-color: purple;
}

.form {
  border-color: green;
}

.inertia {
  border-color: #114f9c;
}

.life {
  border-color: #baae00;
}

.reqs-unmet {
  background-color: rgb(163, 64, 64);
}
/*  */

.context-menu {
  background-color: #2b2b2b;
  min-width: 150px;
  min-height: 70px;
  z-index: 999999;
}

.wrap-y {
  overflow-y: scroll;
}

.context-option {
  max-width: 350px;
  padding: 5px;
  text-overflow: ellipsis;
  z-index: 999999;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.context-option-noninteractable {
  max-width: 350px;
  padding: 5px;
  text-overflow: ellipsis;
  z-index: 999999;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.context-header {
  padding: 5px;
}

.context-option:hover {
  background-color: rgb(70, 70, 70);
  outline: 1px solid black;
}

.unselectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* elements */

.top-bar {
  height: 50px;
  width: 100%;
  background-color: lightslategray;
}

.si-button {
  width: 25px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.skill-abilities {
  width: 200px;
  height: 100%;
  cursor: pointer;
}

.icon {
  border: 1px darkslategray solid;
}

.skill-icon {
  /* border: 3px darkslategray solid; */
  /* height: "64px"; */
}

.skill-selected {
  outline: 2px lightseagreen solid;
  background-color: lightseagreen;
}

.skill-icon:hover {
  /* background-color: brown; */
  outline: 2px rgb(40, 87, 40) solid;
  background-color: rgb(40, 87, 40);
  /* border-color: red; */
}

.skill-icon:hover img {
  /* filter: brightness(150%); */
}

.skillbook {
  width: 900px;
  height: 600px;
  background-color: whitesmoke;
}

.ascension-family:hover {
  background-color: rgb(70, 70, 70);
}

.ascension {
  width: 400px;
  height: 500px
}

.bar {
  /* background-color: #131313; */
}

/* div {height: 100%;} */

.aspect-name-bg {
  background-color: rgb(70, 70, 70);;
  position: sticky;
  top: 0px;
}

.context {
  position: absolute;
}

.sticky-bottom {
  background-color: rgb(70, 70, 70);
  position: sticky;
  bottom: 0px;
}

.sticky-top {
  background-color: rgb(70, 70, 70);
  position: sticky;
  top: 0px;
}

.activated {
  outline: 2px solid whitesmoke;
}

.can-open-context-menu {
  cursor: help;
}

.aspect-preview {
  width: 300px;
  height: 450px;
  margin-right: 25px;
  /* overflow: scroll; */
  overflow-y: scroll;
}

.skillbook-category {
  width: 100%;
  cursor: pointer;
  padding: 2px;
}
.skillbook-category:hover {
  filter: brightness(110%);
  background-color: rgb(70, 70, 70);
  outline: 1px grey solid;
}

.chosen {
  background-color: rgb(51, 51, 51);
  /* outline: 2px solid rgb(70, 70, 70) */
  /* text-decoration: underline;
  text-decoration-color: whitesmoke; */
}

/* used for skill abilities */
.highlighted-bg {
  background-color: rgb(70, 70, 70);;
}

.character-profile {
  width: 300px;
  height: 100%;
}

.skills {
  border: 1px solid black;
  width: 500px;
  height: 100%;
}

.name-edit-container Text {
  overflow: hidden;
}

.name-edit {
  width: 55px;
  height: 33px;
}

.portrait {
  width: 108px;
  height: 135px;
  border: 1px black solid;
}

.skill-listing {
  width: 700px;
  height: 100%;
}

/* TEXT */
.text-small {
  font-size: 70%;
}

.text-si {
  text-align: left;
}

.text-si-symbol {color: rgb(102, 174, 241)}

.text-pyro {color: rgb(245, 68, 68)}
.text-geo {color: rgb(110, 77, 28)}
.text-aero {color: rgb(125, 127, 243)}
.text-water {color: rgb(53, 201, 238)}
.text-warfare {color: rgb(175, 104, 104)}
.text-huntsman {color: rgb(73, 180, 82)}
.text-poly {color: rgb(207, 199, 90)}
.text-summon {color: rgb(175, 140, 255)}
.text-rogue {color: rgb(165, 137, 137)}
.text-necro {color: rgb(116, 88, 111)}

.text-dmg-armor-magic {color: rgb(76, 200, 216)}
.text-dmg-armor-phys {color: rgb(153, 152, 152)}
.text-dmg-phys {color: rgb(168, 168, 168)}
.text-dmg-pierce {color: rgb(223, 96, 96)}
.text-dmg-air {color:rgb(125, 127, 243)}
.text-dmg-water {color: rgb(53, 201, 238)}
.text-dmg-fire {color: rgb(245, 68, 68)}
.text-dmg-earth {color: rgb(110, 77, 28)}

/*  */

.popup-cover {
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(95, 96, 179, 0.349);
  z-index: 998;
}

/* note: absolute positioning breaks context menu positioning */
.pop-up-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.dark-mode-text {
  color: whitesmoke
}

select {
  padding: 5px
}

.box {
  /* border: 1px black solid; */
  background-color: #131313;
  background-image: 
  url("images/interface/frame_corner_top_left_gray.png"),
  url("images/interface/frame_corner_top_right_gray.png"),
  url("images/interface/frame_corner_bottom_right_gray.png"),
  url("images/interface/frame_corner_bottom_left_gray.png"),
  url("images/interface/frame_left_gray.png"), 
  url("images/interface/frame_bottom_gray.png"),
  url("images/interface/frame_right_gray.png"),
  url("images/interface/frame_top_gray.png");

  background-position: top left, top right, bottom right, bottom left, left, bottom, right, top;
  background-repeat: no-repeat;
  background-size: 40px 40px, 40px 40px, 40px 40px, 40px 40px, 40px 100%, 100% 40px, 40px 100%, 100% 40px;

  padding: 10px;

  margin: 5px;
}